body{
    background-color: blue;
}
.box{
    background-color: greenyellow;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-items: center;

}
.box1{
    background-color: yellow;
    
}